@font-face
{
font-family: GoudyStout;
src: url('goudystout.ttf'),
     url('goudystout.eot'); /* IE9 */
}

body {
  padding-top: 20px;
  background-color: #EEE;
/*  background-color: rgb(166,154,173);*/
  /*background-color: rgb(116,104,123);*/
  /*color: #FFFFE1;*/
  /*color: #000;*/
}


.carousel-inner img {
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-family: GoudyStout;
  font-weight: normal;
}

.portfolio-item h2 {
  font-size: 1.5em;
  line-height: 20px;
  margin:0;
}

p {
  text-align:justify;
}

.portfolio-item, .block {
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 200px;
}
@media (min-width: 767px) {
  .portfolio-page .portfolio-item {
    width: 725px;
  }
}

.portfolio-item .panel-footer {
  min-height: 75px;
}
.portfolio-item-content, .block-content {
  padding: 25px 30px 5px 30px;
  min-height: 150px;
}

#home-blocks .block {
  min-height:160px;
}

#portret {
  margin: 0 auto;
  max-width: 250px;
  display:block;
  width: 100%;
  height:auto;
}

/** Bootstrap tweaks **/
.carousel-caption {
  color: #FFF;
}

.panel *,
.img-crop, .img-crop:before, .img-crop:after,
.img-crop a, .img-crop a:before, .img-crop a:after, 
.img-crop img,.img-crop img:before, .img-crop img:after,
.panel, .panel:before, .panel:after
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.img-crop,
.img-crop img{
	width: 100%;  
  /*gotta be responsive these days */
}
.img-crop{
	overflow: hidden;

	/* remove white-space for inline-block elements */
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	/*word-spacing: -0.43em; /* IE < 8 && gecko */
}
.img-crop:before,
.img-crop img{
	/* vertically center the image */
	display: inline-block;
	vertical-align: middle;
}
.img-crop:before{
	/* pseudo element to vertically align image to */
	content: "";
  box-sizing: content-box;
	/* Magic Number */
	/* Set this to your desired height(to width) ratio */
	padding-top: 75%; /* % of original image width */ 
}
.img-crop img{
	/* removes(sorta) image from the flow */
	padding-left: 100%;
	margin: -999em -100%;
}

.header {
  color: #000;
}

.header .heading {
  margin: 0;
  padding: 8px;
  color: #333;
}

.content {
  padding-top: 20px;
}

.well, .portfolio-item-content, .block-content {
/*  background-color: rgb(49,49,49);*/
  color: #333;
  border:0;
}

.portfolio-item {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.nav-collapse.collapse {
width: 400px;
display: block;
margin: 0 auto;
}

.panel-body {
  padding: 0;
}

.panel-pagecontent .panel-body {
  padding: 15px;
}

#myCarousel {
  padding-bottom: 20px;
}