<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Bert Paulis Kunst</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{site.baseurl}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}css/prettyPhoto.css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}css/screen.css" rel="stylesheet" media="screen">
  </head>
  <body class="dark">
    <div class="header">
      <a class="brand" href="{{site.baseurl#}}"><h1 class="heading">Bert Paulis</h1></a>
    </div>
    
      
    
    <div class="container content">

      <div class="navbar">
      <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          

          <div class="nav-collapse collapse">
            <ul class="nav">
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url %}
                  {% assign current = 'active' %}
                {% endif %}
                <li class="{{ current }}">
                  <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
              {% endfor %}          </ul>
            <!---<ul class="nav pull-right">
              <a class="btn" id="themetoggle"><i class="icon icon-random"></i></a>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
      
      {{ content }}
      
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{site.baseurl}}js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto();
      });
      
      var $body = $('body');
      $('#themetoggle').click(function() {
        $body.toggleClass('light');
        $body.toggleClass('dark');
      })
    </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46080328-1', 'bertpaulis.nl');
  ga('send', 'pageview');

</script>
  </body>
</html