---
layout: default
title: Schilderijen
---

  <div class="row-fluid">
  {% for serie in page.projects | sort %}
  <!-- <h1>{{serie[0]}}</h1> -->
    
    {% for project in serie[1] %}
      {% if project[1].image_url %}
        <div class="span4">
          <div class="portfolio-item">
            <div class="img-crop">
              <a href="{{ project[0] }}"><img src="{{site.baseurl}}thumbs{{ project[1].image_url }}"/></a>
            </div>
            <div class="portfolio-item-content">
              <h2>{{ project[1].title }} {{ forloop.index0.modulo(3) }} <a href="{{ project[0] }}">&raquo;</a></h2>
              <p class="muted">{{ project[1].short }} - {{ project[1].dimensions }}{% if project[1].sold == true %} [VERKOCHT]{% endif %}</p>
            </div>
          </div>
        </div>
        
      {% cycle ('close_row'+{{serie[0]}}): '', '', '</div><div class="row-fluid">' %}

      {% endif %}

    {% endfor %}
    
  {% endfor %}
  </div>
  <div id="pagination">
  {{ paginate | default_pagination }}
  </div>
