---
layout: default
---

<div class="portfolio-page">
  <div class="panel panel-default portfolio-item">
    <div class="panel-body">
      <a href="{{ page.image_url }}" rel="prettyPhoto"><img class="img-responsive" src="{{ page.image_url }}" style="display: block; margin: 0 auto;" title="{{ page.title }}" alt="{{ page.short }}"></a>
    </div>
    <div class="panel-footer">
      <h1>{% if page.sold == true %}[VERKOCHT] {% endif %}{{ page.title }}</h1>

      <p class="lead">{{ page.short }}</p>
      <p>{{ page.description }}</p>
      
      <p class="muted">{{ page.dimensions }}
        {% if page.sold != true %}
          [<a href="mailto:?subject=Ik wil graag {{ page.title }} bestellen">bestellen</a>] 
        {% endif %}
      </p>
      <p><a href="{{site.baseurl}}portfolio" title="Portfolio">&laquo; portfolio</a></p>

    </div>
  </div>
</div>